# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Run manually to reformat a file:
# clang-format -i --style=file <file>
Language: Cpp
# Delimiters:
#         - 'cc'
#         - 'cpp'
BasedOnStyle: LLVM

# AlignConsecutiveMacros:
#   Enabled: true
#   AcrossEmptyLines: true
#   AcrossComments: true

# AlignTrailingCommentsL: true

BasedOnStyle: GNU
# BasedOnStyle: Google
IndentPPDirectives: AfterHash
IndentCaseLabels: false

BreakBeforeBraces: GNU
# BreakBeforeBraces: Whitesmiths
BreakBeforeBraces: Allman
IndentExternBlock: AfterExternBlock
NamespaceIndentation: All

AlwaysBreakTemplateDeclarations: false
DerivePointerAlignment: false
IndentWidth: 4
# /Users/wqs/.vscode-insiders/extensions/ms-vscode.cpptools-1.10.2-darwin-arm64/LLVM/bin/clang-format -i -style=google -fallback-style= -assume-filename=/Users/wqs/wqs/cc_cloud/stl/test_cc_stl_strstr.c

# new --assume-filename=
# /Users/wqs/.vscode-insiders/extensions/ms-vscode.cpptools-1.10.2-darwin-arm64/LLVM/bin/clang-format -i --style=file /Users/wqs/wqs/cc_cloud/stl/test_cc_stl_strstr.c
# {BaseOnStyle: LLVM, IndentWidth: 4, AllowShortIfStatementsOnASingleLine: false}

#  /Users/wqs/.vscode-insiders/extensions/ms-vscode.cpptools-1.10.2-darwin-arm64/LLVM/bin/clang-format -i --style=file /Users/wqs/wqs/cc_cloud/stl/test_cc_stl_strstr.c
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# there is some bugs that must fill the option of clang format style fallback 
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
# "ColumnLimit": 119,
# // Indent width for line continuations.
# "ContinuationIndentWidth": 4,
# // The number of columns to use for indentation.
# "IndentWidth": 4,
TabWidth: 4
# "UseTab": "Never"

# {BasedOnStyle: Google ,IndentPPDirectives: AfterHash ,IndentCaseLabels: false ,AlwaysBreakTemplateDeclarations: false ,DerivePointerAlignment: false ,IndentWidth: 4 ,AllowShortIfStatementsOnASingleLine: false ,AllowShortBlocksOnASingleLine: Empty ,AllowShortFunctionsOnASingleLine: Empty ,AllowShortLambdasOnASingleLine: Empty ,AllowShortLoopsOnASingleLine: false ,TabWidth: 4}

# AlignArrayOfStructures: true